#TongTien{
    margin: 50px 0px 0px 50px;
    font-size:30px;
    font-weight: bold;
    
}
#TenHang{
    margin: 50px 0px 0px 50px;
    font-size:30px;
    font-weight: bold;
    
}
#HienThiTien{
    font-size:30px;
}
#NhapTenHang{
    font-size:30px;
}
#ThanhToan{
    font-size:30px;
}
